body {
	color: #3c3836;
	background-color: #fbf1c7;
	font-size: 16px;
	font-family: 'Nova Mono';
	margin: 0 5% 0 5%;
}
h1 {
	color: #458588;
	font-size: 48px;
	margin: 0;
	padding: 0;
}
h2 {
	color: #689d6a;
	font-size: 36px;
	margin: 0;
	padding: 0;
}
h3 {
	color: #98971a;
	font-size: 24px;
	margin: 0;
	padding: 0;
}
a {
	color: #cc241d;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#nav-links {
	width: 35%;
	text-align: end;
}
#nav-links a {
	padding: 0 0 0 10%;
}
#services-section {
	display: flex;
}
#services-section div {
	padding: 0 5% 0 0;
}
